<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <!-- this is my comment control slash -->
    <h1>

        <%= locals.user || "please log in" %>
    
    </h1>
    
    <p> <a href="/users">Users Page</a></p>
    <p><a href="/users/new">new users</a></p>

</body>
</html>